<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    {% block totle %}Forgot Your Password?{% endblock %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h1>Forgot your password?</h1>
<p>Enter your email adress below, and we`ll send email instructions for setting a new one</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Send me instructions">

</form>
{% endblock %}
</body>
</html>